body, input, button, select, textarea {
    color: #333;
}

a {
    color: #26a;
}

.header {
    border-color: #ddd;
}

.header-link {
    color: #333;
}

    .header-link:hover,.header-link:focus,.header-link.active {
        border-color: #333;
    }

.comment-box {
    border-color: #ddd;
}

.comment-editor {
    background: #fff;
}

    .comment-editor:before {
        color: #aaa;
    }

.comment-editor-cmd:hover,.comment-editor-cmd:focus {
    background: #e5e5e5;
}

    .comment-editor-cmd.active {
        color: #48c;
    }

.comment-btn {
    background: #48c;
    color: #fff;
}

    .comment-btn:hover,.comment-btn:focus{
        box-shadow: inset 0 -4px rgba(0,0,0,.07),0 6px 18px rgba(0,0,0,.1);
        background: #59d;
    }

    .comment-btn:active{
        background: #37b;
        box-shadow: inset 0 0 10px rgba(0,0,0,.05);
    }


.comment-content {
    border-color: #ddd;
}

.comment-datetime {
    color: #999;
}

.comment-footer a {
    color: #999;
}

    .comment-footer a:hover {
        color: #26a;
    }